<% if user_signed_in? %>

<div class="max-w-lg mx-auto mt-2 text-center max-w-sm rounded overflow-hidden shadow-lg p-4">
  <h1 class="mb-2 text-2xl font-black">Here are all your friends!</h1>
  <p class="text-lg leading-snug">If this looks nice, it means Tailwind is set up properly.</p>
</div>


<div class="flex justify-end items-center">
    <a class="shadow-sm rounded-md">
      <%= link_to "Create Friend", new_friend_path, class: "text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-3 py-2.5 text-center mr-2 mb-2" %> </a>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
        <div class="rounded-md shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100 dark:bg-gray-700">
              <tr>
                <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase text-centerdark:text-gray-400"> Name</th>

                <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"> Email</th>
                

                <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"> Phone</th>

                <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"> Twitter</th>
                

                <th class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400 colspan="1"></th>
                
              </tr>
            </thead>

            <tbody>
              <% @friends.each do |friend| %>
              <% if friend.user == current_user %>
                <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700"">   
                  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
                  </td>

                  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= friend.email %></td>

                  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= friend.phone %></td>

                  <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= "@" + '' + friend.twitter %></td>

                  <td class="inline-flex items-center mt-3 py-2 px-2.5 text-xs font-xs text-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-sm rounded-lg text-sm px-2 py-2 text-center">
                  <%= link_to "See More", friend %>
                  <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></td>
                  
                </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div> 
    </div>    
  </div> 
<% end %>    


